API_PORT=8008

POSTGRES_DB=erphub_api_db
POSTGRES_USER=erphub
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
DATABASE_CONNECTION_STRING=Host=postgres;Port=5432;Database=erphub_api_db;Username=erphub;Password=change-me

REDIS_PORT=6379
REDIS_CONNECTION_STRING=redis:6379,abortConnect=false

RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change-me
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_CONNECTION_STRING=amqp://guest:change-me@rabbitmq:5672/
RABBITMQ_EXCHANGE_NAME=1stopshop_event_bus

KEYCLOAK_AUTHORITY=https://keycloak.example.com/realms/HNHTravel-SGN
KEYCLOAK_AUDIENCE=erp-api-hub
KEYCLOAK_REQUIRE_HTTPS_METADATA=true
JWT_ISSUER=https://keycloak.example.com/realms/HNHTravel-SGN
JWT_AUDIENCE=erp-api-hub
